*{
margin: 0;
padding: 0;
}

@font-face {
	font-family: minecraftFont;
    src: url(../fonts/MinecrafterAlt.ttf);
}

@font-face {
	font-family: settingsFont;
	src: url(../fonts/Minecraftia.ttf);
}

html, body {
    background-color: #F6F6F6;
}

#top_section {
	background-color: #F6F6F6;
	width: 100%;
	height: 80px;
	box-shadow: 0px 10px 5px -10px #575757;
}


#top_section h1 {
	font-size: 72px;
	font-family: minecraftFont;
	color: #A59C99;
	text-shadow: 0px 10px #000;
	width: 50%;
	height: 80px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.top_settings {
	background-color: #FFF;
	width: 200px;
	float: left;
	height: 80px;
	margin-left: 50px;
	padding-left: 10px;
	padding-right: 10px
}

.top_settings p {
	text-align:center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.top_settings li, ul {
	list-style: none;
	border: 1px solidl;
}

#mid_section {
	width: 100%;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #C6C6C6;
}

#bingo {
	float:center;
	margin-top: 50px;
	width:700px;
	height:600px;
	margin: 0px auto;
	border-spacing: 0px;
	border: solid 2px #FFF;
	background-color: #C6C6C6;
    border-collapse: separate;
	position: relative;
}

#bingo td { 
	cursor: pointer;
	width: 100px;
	height: 100px;
	text-align:center;  
	font-size: .75em;
	font-family: settingsFont;
	border: 2px solid #FFF;
	padding: 5px;
	background-color: #8B8B8B;
	box-shadow: inset 5px 5px 5px 0px rgba(0,0,0,0.75);
	color: #FFF;
	font-weight: bold;
}

.buttonCard {
	background-color: #6F6F6F;
	color: #000;
	background-image: url("../images/button-background.png");
	background-repeat: no-repeat;
	margin-top: 10px;
	height: 50px;
	width: 500px;
	border: 2px solid #000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.buttonCard a {
	text-decoration: none;
	color: #FFF;
	font-family: settingsFont;
	font-size: 20px;
	line-height: 50px;
	font-weight: bold; 
}

.buttonCard a:hover {
	color: #FFF787; 
}

.overlay {
    z-index: 1;
    height: 50px;
    width: 500px;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0); /*can be anything, of course*/
}

.overlay:hover{
    background: rgba(115, 173, 255, 0.3); /*can be anything, of course*/
}

#bottom_section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	height: auto;
	margin-top: 10px;
}

#bottom_section ul li {
	list-style-type: circle;
	background: #ffe5e5;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#bottom_section ol li {
	list-style-type: inside;
	background: #ffe5e5;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#bottom_section p {
	background-color: #9fdb87;
	width: 810px;
	height: 25px;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#bottom_section h2 {
	text-align:center;
	padding-top: 10px;
}

#bottom_section h3 {
	text-align:center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#bingo td:hover { 
background:#f2f2f2; 
color: #000;
}

#bingo tr td.greensquare { 
background:#CAFF70;
color: #000;
}
#bingo tr td.greensquare:hover { 
background:#A2CD5A; 
}
#bingo tr td.redsquare { 
background:#EE6A50; 
color: #000;
}
#bingo tr td.redsquare:hover { 
background:#CD5B45; 
}