/* Base Page Stuff */
* {
	margin: 0;
	padding: 0;
	font-family: Minecraftia;
}

button:focus, input:focus {
	outline:0;
}

@font-face {
	font-family: minecraftFont;
	src: url(MinecrafterAlt.ttf);
}

@font-face {
	font-family: Minecraftia;
	src: url(Minecraftia.ttf);
}

html, body {
	background-color: #F6F6F6;
	background-size: 1920px 1080px;
}

/* End Base Page */

/* Nav Bar */

#nav_section {
	background-color: #F6F6F6;
	width: auto;
	height: 100px;
	margin-bottom: 10px;
	box-shadow: 0px 10px 5px -10px #575757;
	border-bottom: 5px solid;
	margin-bottom: 10px;
}

#nav_section h1 {
	font-size: 4em;
	font-family: minecraftFont;
	color: #A59C99;
	text-shadow: 0px 7px #000;
	width: 700px;
	height: 100%;
	margin-top: 0px;
	line-height: 100px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

/* End Nav Bar */

/* Bingo Card */
#bingo-section {
	width: 700px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EBEBEB;
	border: 4px solid;
}

#bingo-box {
	width: 700px;
	height: 600px;
	box-sizing: border-box;
	border: 4px solid #FFF;
	border-radius: 5px;
	position: relative;
}

#bingo, #hidden-bingo {
	height: 100%;
	width: 100%;
}

#bingo {
	border-spacing: 0px;
	background-color: #C6C6C6;
	border-collapse: separate;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#bingo td {
	cursor: pointer;
	width: 100px;
	height: 100px;
	text-align:center;
	font-size: .75em;
	background-color: #C6C6C6;
	border: 2px solid #EBEBEB;
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
	color: #000;
	padding: 5px 5px 5px 7px;
	position: relative;
}

/** Card colours **/

.symbol {
	position: absolute;
	bottom: 4px;
	right: 4px;
	width: 12px;
	height: 12px;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
}

#bingo td:hover {
	background-color: #EBEBEB;
}

#bingo tr td.greensquare {
	background:#CAFF70;
	color: #000;
}
#bingo tr td.greensquare:hover {
	background:#A2CD5A;
}
.greensquare .symbol {
	background-image: url("Symbols/ok.png");
}

#bingo tr td.redsquare {
	background:#FE6A50;
	color: #000;
}
#bingo tr td.redsquare:hover {
	background:#CD5B45;
}
.redsquare .symbol {
	background-image: url("Symbols/x.png");
}

#bingo tr td.bluesquare {
	background:#9ae8ff;
	color: #000;
}
#bingo tr td.bluesquare:hover {
	background:#57d9ff;
}
.bluesquare .symbol {
	background-image: url("Symbols/heart.png");
}

#bingo tr td.yellowsquare {
	background: #F2F210;
	color: #000;
}
#bingo tr td.yellowsquare:hover {
	background:#D9D90B;
}
.yellowsquare .symbol {
	background-image: url("Symbols/star.png");
}

#bingo tr td.pinksquare {
	background:#00D69B;
	color: #000;
}
#bingo tr td.pinksquare:hover {
	background:#00AD82;
}
.pinksquare .symbol {
	background-image: url("Symbols/moon.png");
}

#bingo tr td.brownsquare {
	background:#D5AE85;
	color: #000;
}
#bingo tr td.brownsquare:hover {
	background:#C8955F;
}
.brownsquare .symbol {
	background-image: url("Symbols/apple.png");
}

/** Goal tooltip **/
.tooltip {
	position: absolute;
	margin: 20px;
	display: inline-block;
	border: 2px solid purple;
	border-radius: 5px;
	background-color: rgba(0,0,0,.9);
	text-align: center;
}

.tooltipQ {
	opacity: 0.6;
	width: 15px;
	height: 15px;
	position: absolute;
	padding-top: 4px;
	right: 5px;
	top: 5px;
}

#bingo td[data-tooltiptext=""] .tooltipQ {
	display: none;
}

.tooltiptext {
	text-shadow: 2px 2px #000;
	font-size: 12px;
	color: #FFF;
	overflow: hidden;
}

#goalTooltip {
	padding: 10px;
	width: 300px;
}

#goalTooltip img {
	border: 2px solid #EBEBEB;
	margin-right: 5px;
	width: 64px;
	height: 64px;
	float: left;
	background-color: #C6C6C6;
}

#goalTooltip .tooltiptext {
	line-height: 1.2em;
	margin-bottom: 40px;
	margin-left: 10px;
	position: relative;
	top: -5px;
}

/** Hide Table mode **/
#hidden-bingo {
	display: none;
	background-image: url("stone-tile.png");
	background-repeat: repeat;
	background-size: 128px 128px;
	box-sizing: border-box;
	padding: 50px;
}

.hidden #hidden-bingo {
	display: block;
}
.hidden #bingo {
	display: none;
}

#hidden-table {
	background-color: white;
	color: #000;
	border: 2px solid #000;
	padding: 20px;
	text-align: center;
	font-size: 0.75em;
}

#hidden-table p {
	margin-top: 10px;
}

#hidden-table-seed {
	font-size: 1.5em;
}

#hidden-table-seed input {
	font-size: 1em;
	width: 200px;
	text-align: center;
}

#copiedTooltip {
	margin: 0 10px;
	padding: 0 5px 5px;
}

#hidden-table-seed button {
	margin-top: 10px;
	width: 200px;
}

.show-table-button {
	width: 450px;
	margin: 20px auto 20px auto;
}

/** Info bar **/
#info_bar {
	padding: 0;
	margin-top: 10px;
	text-align:center;
}

.seed_for_copying {
	font-size: 1.01em;
	text-align: center;
}

/* End Bingo Card  */

/* UI controls */

/** Buttons **/
.buttons-row {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	position: relative;
	border: 2px solid #000;
	background-color: #6F6F6F;
	background-image: url("button-background.png");
}

.button,
.slider-holder,
.slider {
	cursor: pointer;
}
.button,
.slider-holder {
	height: 50px;
}
.button,
.slider-text {
	color: #FFF;
	font-size: 20px;
	text-align: center;
	text-shadow: 0.125em 0.125em #3f3f3f;
}
.small-button {
	padding: 2px 6px 3px;
	height: auto;
	font-size: 1em;
}

.button:hover,
.slider-holder:hover .slider-text {
	color: #FFF787;
}
.button:hover {
	background-image: url("button-background-blue.png");
}

/*** Button border and insets ***/
.button::after,
.button::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
}

.button::after {
	border: 3px solid #00000045;
	border-bottom-width: 4px;
	border-top: unset;
	border-left: unset;
}

.button::before {
	border: 3px solid #ffffff6e;
	border-bottom: unset;
	border-right: unset;
}

/** Dropdowns **/
.dropdown-holder  {
	position: relative;
}

.dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/** Sliders **/
.slider-holder {
	background-image: url("slider-background.png");
	position: relative;
	-webkit-appearance: none;
}

.slider,
.slider-text {
	width: 100%;
	height: 100%;
}
.slider {
	position: relative;
	z-index: 100;
	background-color: transparent;
	-webkit-appearance: none;
}

.slider-text {
	line-height: 50px;
	top: 0;
	position: absolute;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: inset 3px 3px 0px #ffffff6e, inset -3px -4px 0px #00000045;
	height: 50px;
	width: 18px;
	background-image: url("button-background.png");
	cursor: pointer;
	border: 2px solid black;
	border-radius: 0px;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
	box-shadow: inset 3px 3px 0px #ffffff6e, inset -3px -4px 0px #00000045;
	height: 50px;
	width: 18px;
	background-image: url("button-background.png");
	cursor: pointer;
	border: 2px solid black;
	border-radius: 0px;
}

input[type=range]::-ms-thumb {
	box-shadow: inset 3px 3px 0px #ffffff6e, inset -3px -4px 0px #00000045;
	height: 50px;
	width: 18px;
	background-image: url("button-background.png");
	cursor: pointer;
	border: 2px solid black;
	border-radius: 0px;
}

input[type=range]::-moz-range-track {
	visibility: hidden;
}

input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-webkit-slider-thumb:active {
	background-image: url("button-background-blue.png");
}
input[type=range]::-moz-range-thumb:hover,
input[type=range]::-moz-range-thumb:active {
	background-image: url("button-background-blue.png");
}
input[type=range]::-ms-thumb:hover,
input[type=range]::-ms-thumb:active {
	background-image: url("button-background-blue.png");
}

/** Individual controls' sizes **/
.versions-button {
	width: 50px;
}
.version-button {
	width: 300px;
}

.new-seed-button {
	width: 272px;
}

.difficulty-slider-holder {
	width: 200px;
}

#options-toggle-button {
	width: 150px;
}

/* End UI controls */

/* Streamer Mode */

.stream-exit-text {
	color: #505050;
	text-align: center;
	display: none;
}

.streamer-mode #nav_section,
.streamer-mode .buttons-row,
.streamer-mode #rules-section {
	display: none;
}

.streamer-mode .stream-exit-text {
	display: block;
}

body.streamer-mode {
	background-size: 0, 0;
}
/* End Streamer Mode */

/* Rules And Bottom */

#rules-section {
	margin-top: 10px;
	background-color: #FFF;
	padding: 10px 0px 10px 0px;
	border-top: 5px solid;
	font-size:0.75em;
	text-align: center;
}

#rules-section p,
#rules-section h2,
#rules-section h3,
#rules-section ul,
#rules-section ul li {
	max-width: 800px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}
#rules-section h2,
#rules-section h3 {
	text-align: center;
}

#rules-section ul {
	padding-left: 60px;
}
#rules-section ul li {
	list-style-type: circle;
}

#rules-section a {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* End Rules And Bottom */

/* Pause menu */
.pause-menu {
	/* cover the whole bingo sheet */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* dim the bingo sheet */
	background: rgba(0,0,0,0.4);
	z-index: 50;

	gap: 1.5em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: none;
}

.show-options #bingo {
	filter: blur(0.1em);
}
.hidden.show-options #hidden-bingo {
	filter: blur(0.5em);
}

.pause-menu-group {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

#options-menu .options-button,
#options-menu .slider-holder {
	width: 16rem;
}

.pause-menu-close {
	position: absolute;
	top: 1rem;
	right: 1rem;
	height: 2rem;
	width: 2rem;
	font-size: 1rem;
	padding-bottom: 1rem;
}

.show-options #options-menu {
	display: flex;
}

/* End Pause Menu */

/* Export Popup */

#export {
	width: 50%;
	height: 50%;
	position: fixed;
	border: 4px solid #000;
	top: 10%;
	left: 25%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	padding: 4px;
}

#export textarea {
	flex-grow: 1;
	font-family: monospace;
}

/* End Export Popup */
