@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

*{
margin: 0;
padding: 0;
}

@font-face {
	font-family: minecraftFont;
    src: url(MinecrafterAlt.ttf);
}

@font-face {
	font-family: settingsFont;
	src: url(Minecraftia.ttf);
}

html, body {
    background-color: #F6F6F6;
	background-image: url("background.png");
	background-size: 1920px 1080px;
}

#top_section {
	background-color: #F6F6F6;
	width: auto;
	height: 100px;
	box-shadow: 0px 10px 5px -10px #575757;
	/* background-image: url("stonetile.png"); */
	border-bottom: 5px solid;
}


#top_section h1 {
	font-size: 4em;
	font-family: minecraftFont;
	color: #A59C99;
	text-shadow: 0px 7px #000;
	width: 700px;
	height: 100%;
	margin-top: 0px;
	line-height: 100px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.dropdown  {
	float: left;
	position: relative;
    display: inline-block;
	margin-left: 5%;
	margin-top: 25px;
}

/* Dropdown Button */
.dropbtn {
    color: #FFF;
	background-image: url("button-background.png");
	font-family: settingsFont;
	background-repeat: no-repeat;
	height: 50px;
	width: 250px;
	text-align: center;
    font-size:1.2em;
    border: 2px solid black;
    cursor: pointer;
	margin-bottom: 5px;
	background-size: 248px 48px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
	background-color: #f1f1f1
}

.show {
	display:block;
}

.top_settings p {
	text-align:center;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

#mid_section {
	width: 720px;
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EBEBEB;
	border: 4px solid;
}

#tooltip {
	margin: 20px;
    position: relative;
    display: inline-block;
	width: 300px;
	height: auto;
	border: 2px solid purple;
	background-color: rgba(0,0,0,.9);
	font-family: settingsFont;
	padding: 10px;
	-webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
}

#tooltipimg {
	margin-bottom: 10px;
	width: 64px;
	height: 64px;
	padding: 5px;
	float: left;
	border: 2px solid #EBEBEB;
	background-color: #C6C6C6;
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
}

#tooltiptext {
	border-radius: 5px;
	text-shadow: 2px 2px #000;
	margin-bottom: 40px;
	font-size: 12px;
	margin-left: 10px;
	color: #FFF;
	width: 120px;
}

#bingo {
	float:center;
	margin-top: 50px;
	width:700px;
	height:600px;
	margin: 0px auto;
	border-spacing: 0px;
	border: solid 4px #FFF;
	background-color: #C6C6C6;
    border-collapse: separate;
	border-radius: 5px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#bingo td { 
	cursor: pointer;
	width: 100px;
	height: 100px;
	text-align:center;  
	font-size: .75em;
	font-family: settingsFont;
	border: 2px solid #EBEBEB;
	padding: 10px;
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
	color: #000;
}

.buttoncard {
	background-color: #6F6F6F;
	color: #000;
	background-image: url("button-background.png");
	background-repeat: no-repeat;
	margin-top: 10px;
	height: 50px;
	width: 500px;
	border: 2px solid #000;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	
}

.buttoncard a {
	text-decoration: none;
	color: #FFF;
	font-family: settingsFont;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold; 
}

.buttonCard a:hover {
	color: #FFF787; 
	text-decoration: none;
}

.overlay {
    z-index: 1;
    height: 45px;
    width: 500px;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0); 
}

.overlay:hover{
    background: rgba(115, 173, 255, 0.3); 
}

#bottom_section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFF;
	height: 100%;
	margin-top: 10px;
	border-top: 5px solid;
}

#bottom_section ul li {
	list-style-type: circle;
	background: #ffe5e5;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

#bottom_section ol li {
	list-style-type: inside;
	background: #ffe5e5;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}
#tooltip
{
	position:absolute;
	text-align:center;
}

#bottom_section p {
	background-color: #9fdb87;
	width: 810px;
	height: 25px;
	line-height: 25px;
	margin-left: auto;
	margin-right: auto;
}

#bottom_section h2 {
	text-align:center;
	padding-top: 10px;
}

#bottom_section h3 {
	text-align:center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#bingo td:hover { 
background-color: rgba(256, 256, 256, 0.5); 
color: #000;
}

#bingo tr td.greensquare { 
background:#CAFF70;
color: #000;
}
#bingo tr td.greensquare:hover { 
background:#A2CD5A; 
}
#bingo tr td.redsquare { 
background:#EE6A50; 
color: #000;
}
#bingo tr td.redsquare:hover { 
background:#CD5B45; 
}

.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}