/* Base Page Stuff */
* {
	margin: 0;
	padding: 0;
}

button:focus, input:focus {
	outline:0;
}

@font-face {
	font-family: minecraftFont;
	src: url(MinecrafterAlt.ttf);
}

@font-face {
	font-family: settingsFont;
	src: url(Minecraftia.ttf);
}

html, body {
	background-color: #F6F6F6;
	background-size: 1920px 1080px;
}

/* End Base Page */

/* Nav Bar Styling */

#nav_section {
	background-color: #F6F6F6;
	width: auto;
	height: 100px;
	margin-bottom: 10px;
	box-shadow: 0px 10px 5px -10px #575757;
	border-bottom: 5px solid;
	margin-bottom: 10px;
}

#nav_section h1 {
	font-size: 4em;
	font-family: minecraftFont;
	color: #A59C99;
	text-shadow: 0px 7px #000;
	width: 700px;
	height: 100%;
	margin-top: 0px;
	line-height: 100px;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

/* End Nav Bar */

/* Bingo Card Styling */

#info_bar {
	padding: 0;
	margin-top: 10px;
	font-family: settingsFont;
	text-align:center;
}

.seed_for_copying {
	font-family: settingsFont;
	font-size: 1.01em;
	text-align: center;
}

.stream-difficulty-text {
	color: #000;
}

.stream-exit-text {
	color: #000;
	text-align:center;
	display:none;
}

#bingo-section {
	width: 700px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EBEBEB;
	border: 4px solid;
	position: relative;
}

#tooltip {
	position: absolute;
	margin: 20px;
	display: inline-block;
	width: 300px;
	border: 2px solid purple;
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	font-family: settingsFont;
	text-align: center;
	line-height: 1.2em;
}

#tooltip img {
	border: 2px solid #EBEBEB;
	margin-right: 5px;
	width: 64px;
	height: 64px;
	float: left;
	background-color: #C6C6C6;
}

.box-shadow {
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
	border: 2px solid white;
	width: 64px;
	height: 64px;
	float: left;
	position: absolute;
}

#tooltip span {
	overflow: hidden;
}

#tooltiptext {
	border-radius: 5px;
	text-shadow: 2px 2px #000;
	margin-bottom: 40px;
	font-size: 12px;
	margin-left: 10px;
	color: #FFF;
	position: relative;
	top: -5px;
}

#bingo {
	width: 700px;
	height: 600px;
	margin: 0;
	border-spacing: 0px;
	border: solid 4px #FFF;
	background-color: #C6C6C6;
	border-collapse: separate;
	border-radius: 5px;
	background-repeat: repeat;
	background-size: 128px 128px;
	background-image: url("stone-tile.png");
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#bingo td {
	cursor: pointer;
	width: 100px;
	height: 100px;
	text-align:center;
	font-size: .75em;
	background-color: #C6C6C6;
	font-family: settingsFont;
	border: 2px solid #EBEBEB;
	box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.75);
	color: #000;
	padding: 5px 5px 5px 7px;
	position: relative;
	visibility: hidden;
}

#bingo td:hover {
	background-color: #EBEBEB;
}

#bingo tr td.greensquare {
	background:#CAFF70;
	color: #000;
}
#bingo tr td.greensquare:hover {
	background:#A2CD5A;
}
#bingo tr td.redsquare {
	background:#EE6A50;
	color: #000;
}
#bingo tr td.redsquare:hover {
	background:#CD5B45;
}
#bingo tr td.bluesquare {
	background:#9ae8ff;
	color: #000;
}
#bingo tr td.bluesquare:hover {
	background:#57d9ff;
}
#bingo tr td.yellowsquare {
	background:#FFFF00;
	color: #000;
}
#bingo tr td.yellowsquare:hover {
	background:#e6e600;
}
#bingo tr td.pinksquare {
	background:#FFC0CB;
	color: #000;
}
#bingo tr td.pinksquare:hover {
	background:#ffa7b6;
}
#bingo tr td.brownsquare {
	background:#BA7D3F;
	color: #000;
}
#bingo tr td.brownsquare:hover {
	background:#a77039;
}

#bingo td img {
	visibility: hidden;
}

#hidden-table {
	font-family: settingsFont;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	background-color: white;
	margin: auto;
	width: 540px;
	color: #000;
	border: 2px solid #000;
	padding: 20px;
	text-align: center;
	font-size: 0.75em;
	display: none;
}

#hidden-table p {
	margin-top: 10px;
}

#hidden-table-seed {
	font-size: 1.5em;
}

#hidden-table-seed input {
	font-size: 1em;
	width: 200px;
	text-align: center;
}

#hidden-table-seed button {
	width: 200px;
}

.show-table-button {
	background-size: 500px 50px;
	width: 450px;
	margin: 20px auto 20px auto;
}

.tooltipQ {
	opacity: 0.5;
	width: 15px;
	height: 15px;
	position: absolute;
	padding-top: 4px;
	right: 5px;
	top: 5px;
}

/* End Bingo Card  */

/* Buttons Styling */

.buttons-row {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	border: 2px solid #000;

	background-color: #6F6F6F;
	background-image: url("button-background.png");
	background-repeat: no-repeat;
}

.button:hover,
.slider-holder:hover .slider-text {
	color: #FFF787;
}
.button:hover {
	background-image: url("button-background-blue.png");
}

.button,
.slider-holder,
.slider {
	cursor: pointer;
	height: 50px;
}
.button,
.slider-text {
	color: #FFF;
	font-size: 20px;
	font-family: settingsFont;
	text-align: center;
}
.versions-button {
	width: 50px;
}
.version-button {
	width: 300px;
}

.options-button,
.slider-holder,
.slider,
.slider-text {
	width: 250px;
}

.dropdown-holder  {
	position: relative;
}
.dropdown {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.slider-holder {
	background-image: url("slider-background.png");
	position: relative;
	-webkit-appearance: none;
}

.slider {
	width: 250px;
	position: relative;
	z-index: 100;
	background-color: transparent;
	-webkit-appearance: none;
}

.slider-text {
	line-height: 50px;
	top: 0;
	position: absolute;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	height: 50px;
	width: 15px;
	background-image: url("button-background.png");
	background-repeat: no-repeat;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 0px;
	-webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 50px;
	width: 15px;
	background-image: url("button-background.png");
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 0px;
}

input[type=range]::-moz-range-track {
	visibility: hidden;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 50px;
	width: 15px;
	background-image: url("button-background.png");
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 0px;
}

input[type=range]::-webkit-slider-thumb:hover,
input[type=range]::-webkit-slider-thumb:active {
	background-image: url("button-background-blue.png");
}
input[type=range]::-moz-range-thumb:hover,
input[type=range]::-moz-range-thumb:active {
	background-image: url("button-background-blue.png");
}
input[type=range]::-ms-thumb:hover,
input[type=range]::-ms-thumb:active {
	background-image: url("button-background-blue.png");
}

.new-seed-button {
	width: 382px;
	text-decoration: none;
}

/* End Buttons Styling */

/* Rules And Bottom Styling */

#rules-section {
	margin-top: 10px;
	background-color: #FFF;
	padding: 10px 0px 10px 0px;
	border-top: 5px solid;
	font-family: settingsFont;
	font-size:0.75em;
	text-align: center;
}

#rules-section p, h2, h3, ul, li {
	max-width: 800px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	list-style-type: circle;
}

#rules-section ul {
	padding-left: 60px;
}

#rules-section a {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#rules-section h2, h3 {
	text-align: center;
}

/* End Rules And Bottom */

/* Export Popup */

#export {
	width: 50%;
	height: 50%;
	position: fixed;
	border: 4px solid #000;
	top: 10%;
	left: 25%;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	padding: 4px;
}

#export textarea {
	flex-grow: 1;
}

/* End Export Popup */
